---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About " description="About molka cherni">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Découvrir mon parcours et mes compétences"
			>
				<img
					width="1553"
					height="873"
					src="/assets/molka.jpg"
					alt="molka cherni "
				/>
			</Hero>

			<section>
				<h2 class="section-title">DIPLÔMES ET FORMATIONS</h2>
				<div class="content">
					<p>- Diplôme national de baccalauréat - en sciences expérimentales avec la mention très bien (de 2018 à 2019)
					</p>
					<p>
						-Cycle préparatoire intégré MPI (de 2019 à 2021)
						<p>faculté des sciences de Tunis (FST)</p>
					</p>
					<p>
						-Cycle ingénieur informatique : spécialité génie logiciel (2éme année)  (de 2021 à 2023)
						<p>faculté des sciences de Tunis (FST)</p>
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">COMPÉTENCES</h2>
				<div class="content">
					<p>SGBD : Oracle / MYSQL</p>
					<p>programmation : JAVA / C / C++ / HTML5/CSS3 /JavaScript /python/ R</p>
					<p>framework: spring boot , angular</p>
					<p>Business Intelligence : Talend / SQLServer / PowerBI / Visual Studio 2015</p>
					<p>conception : UML / Merise</p>
					<p>versionnement: Git</p>
					<p>containerisation: Docker</p>
					<p>Maitrise de la gestion des projets : Agile , Scrum</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">COMPÉTENCES GÉNÉRALES</h2>
				<div class="content">
				    <p>Rigueur</p>
					<p>Curiosité et volonté d'apprendre de nouvelles technologies</p>
					<p>Esprit d'équipe et bonnes compétences en communication</p>
					<p>Capacité à travailler sur plusieurs tâches simultanément</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">CERTIFICATS</h2>
				<div class="content">
				    <p>certificat : Angular et Spring boot</p>
					<p>certificat en Introduction aux réseaux(Cisco Networking Academy)</p>
					<p>certificat en HTML5 et CSS3</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">STAGES</h2>
				<div class="content">
				    <p>Stage en développement web à SagemCom, Tunisie ,Ben Arous </p>
					<p>de juin 2022 à juil. 2022<p/>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">LANGUES</h2>
				<div class="content">
				    <p>Français </p>
					<p>Anglais</p>
					 <p>Arabe </p>
					
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
